{{!< default}}
<div class="container">
	<div class="jumbotron">
    <h1 class="display-4">Welcome to SwitchMarket!</h1>
    <p class="lead">SwitchMarket is the official marketplace for SwitchCraft. It serves as a marketplace for auctions for things such as claims.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/products" role="button">View product listings</a>
    </p>
	</div>
</div>
