{{!< default}}
<div class="container">
  {{> page-heading title="Products"}}
  
  <div class="row">
      {{#each products.results}}
        {{> product-card}}
      {{/each}}
  </div>
  
  <div class="row">
    {{> pagination products}}    
  </div>
</div>
