{
  "extends": "keystone",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double", {"allowTemplateLiterals": true}],
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2],
    "space-before-function-paren": ["error", "never"],
    "no-trailing-spaces": ["off"],
    "no-multi-spaces": ["off"],
  }
}
