<nav class="col-12 mt-2 d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item {{#unless previous}}disabled{{/unless}}">
      <a class="page-link" href="{{paginationPreviousUrl previous}}">
        Prev
      </a>
    </li>
    {{{paginationNavigation pages currentPage totalPages}}}
    <li class="page-item {{#unless next}}disabled{{/unless}}">
      <a class="page-link" href="{{paginationNextUrl next totalPages}}">
        Next
      </a>
    </li>
  </ul>  
</nav>
